html, body {
  margin: 0;
  padding: 0;
  min-width: 1295px;
  font-family: "Bookman Old Style";
  height: 100%;
  width: 100%;
}

.container-element {    
  margin: 0 auto;
  width: 1295px;
  padding: 20px 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
